.editor-styles-wrapper h3{
    color: brown;
    font-size: 30px;

}
.css-uc0dzf {
    display: inline-block;
    margin-bottom: calc(8px);
    font-size: 48px;

}

.wp-block-my-crypto-project-crypto-price{
    font-size: 40px;
}